---
title: "QuantiModo for Chrome"
description: "NOTE THAT YOU MUST BE LOGGED INTO https://QuAnTiMo.Do/ FOR YOUR MEASUREMENTS TO BE RECORDED. THIS IS A BETA TESTING RELEASE. PLEASE EMAIL INFO@QuAnTiMo.Do WITH "

---
{% include "header.njk" %}

	================================================ -->
	<div id="main">


<section class='container-wrap main-title alternate-color  border-bottom'><div class='container'><h1 class="page-title">QuantiModo for Chrome</h1><div class='breadcrumb-extra'><p class="page-info"> <i class="icon-mail-alt"></i> {% include "contact-email.njk" %}</p></div></div></section>

<section class="container-wrap main-color">
	<div id="main-container" class="container">
		<div class="row"> 
			<div class="template-page col-sm-12 tpl-no with-meta">
				<div class="wrap-content">
					
				

	

<!-- Begin Article -->
<article id="post-7961" class="clearfix post-7961 jetpack-portfolio type-jetpack-portfolio status-publish hentry jetpack-portfolio-type-app">

	
	
					<div class="article-meta">
				<span class="post-meta">
				    <small><a href="/portfolio/quantimodo-for-chrome/" rel="bookmark" class="post-time"><time class="entry-date" datetime="2014-10-13T17:41:53+00:00">October 13, 2014</time><time class="modify-date hide hidden updated" datetime="2014-10-13T17:41:53+00:00">October 13, 2014</time></a></small>, <small class="meta-comment-count"><a href="/portfolio/quantimodo-for-chrome/#comments">0 <i class="icon-chat-1 hover-tip" data-original-title="This article has 0 comments" data-toggle="tooltip" data-placement="top"></i></a></small>				</span>
							</div><!--end article-meta-->

		
		
		
	<div class="article-content">

		
		
			<p>NOTE THAT YOU MUST BE LOGGED INTO https://QuAnTiMo.Do/ FOR YOUR MEASUREMENTS TO BE RECORDED. THIS IS A BETA TESTING RELEASE. PLEASE EMAIL INFO@QuAnTiMo.Do WITH QUESTIONS OR SUGGESTIONS AND I'LL RESPOND IMMEDIATELY. THANK YOU!</p>
<p><strong>How to Record a Measurement</strong></p>
<ol>
<li>CLICK THE EXTENSION – Click the QuantiModo icon in the upper right hand side of your browser. It might be hidden. In that case you'll have to drag the divider line to the right of the URL field to see it.</li>
<li>SELECT A VARIABLE – Type the name of the variable that you want to track. If it's an existing variable, the settings should be populated automatically and you can move to step 3. If you've never entered data for that variable before you'll need to adjust the settings for that variable first</li>
<li>ADD YOUR MEASUREMENT – Then enter the value for the measurement and select the correct units.</li>
<li>SEND YOUR MEASUREMENT – After pressing the "ADD" button data is then sent to <a href="/">https://QuAnTiMo.Do/</a>.</li>
</ol>
<p> </p>
<p>At https://QuAnTiMo.Do/, this data can be combined with data from other applications, devices and electronic health records. Since the human mind is not powerful enough to retain all of the necessary information, this data integration feature is essential to identifying correlations and causal relationships.</p>
<p>Users will also have the option to anonymously donate their data to the Mind First Foundation, the Personal Genome Project, and other researchers in order to help facilitate the crowd-sourced observational research which will eventually lead to the eradication of mental illness.</p>
			
		
		
	</div><!--end article-content-->

</article><!--end article--></div><!--end wrap-content-->
			</div><!--end main-page-template-->
						</div><!--end .row-->		</div><!--end .container-->
  
</section>

{% include "footer.njk" %}